.card-logo {
    text-decoration: none;
    width: 300px;
    display: flex;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

.card-logo .logo1 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -2px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.card-logo .logo2 {
    font-size: 40px;
    font-weight: 900;
    margin-left: -3px;
    color: #FBA931;
    font-family: Arial, Helvetica, sans-serif;
}

/* logo menor */
.card-logo2 {
    text-decoration: none;
    width: 100%;
    display: flex;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}

.card-logo2 .logo1 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -4px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.card-logo2 .logo2 {
    font-size: 40px;
    font-weight: 900;
    margin-left: -3px;
    color: #FBA931;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 700px) {

   .card-logo{
    padding: 10px 0;
   }
    
}
