body {
    background-color:#1B1C29;
}

.card-news{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.card-image {
    width: 80%;
    margin: 10px 0;
    padding: 10px 2px;
    display: flex;
    flex-direction: column;
    background-color:#101119;
    box-shadow: 2px 2px 8px #ebb505;
    transition: ease-out 0.5s;
}

.card-image:hover{
  transform: scale(1.1);
}

.card-image .titulo{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: #31FB6A;
}



.card-image label {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

