.card-news{
    width: 100%;
    display: block;
    margin: 20px 0;
}

.card-image{
    width: 100%;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.card-image img {
    width: 60%;
    border-radius: 6px;
    object-fit: cover;
    transition: 0.9s;
}
.card-image img:hover{
    opacity: 0.6;
  
}
.card-image label {
    position: absolute;
    z-index: 1000;
    margin-top: 10%;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #404040;
}



.card-news-block{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.card-news-item{
    background-color: #fff;
    width: 200px;
    height: 200px;
    margin: 4px 5px;
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.card-news-item img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.btn-mais{
    width: 100%;
    height: 20px;
    color: #fff;
    background-color: brown;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}