.manchete{
    width: 100%;
    height: 200px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #fff;
    font-size: 40px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVF2jXbrOXUyF1UuYK4xhYvBYDI5ap-3uNDQ&usqp=CAU');
    background-size: cover;
    background-position: center;
    transition: ease-in-out  0.5s;
}

.manchete:hover {
    opacity: 0.8;
}

.card-news {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Cria três colunas de largura igual */
    grid-gap: 20px;
    /* Espaçamento entre as células */

    margin-bottom: 20px;
}

.card-image {
    height: 100px;
    transition: ease-out 0.5s;
   
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.card-image:hover {
    transform: scale(1.1);
}

.card-image .titulo {
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    
}



.card-image label {
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}


@media screen and (max-width: 700px) {
    .card-image .titulo {
        font-size: 14px;
    }
    .card-image label {
        font-size: 10px
    }
}