
.card-materia{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d5e4e1cc;
}
.card-materia label {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: #404040;
}
.card-materia input {
    width: 30%;
    height: 20px;
    border: 1px solid #56BFAC;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}
.card-materia .text {
    width: 60%;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 5px;
    border: 2px solid #F2D479;
    border-radius: 6px;
    outline: none;
    resize: none;
}

.card-materia .btn-salvar{
    width: 100px;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: brown;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}